---
import Fonts from "./Fonts.astro"
---
<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!-- 顶部导航栏 -->
    <header>
        <nav class="navleft">
            <!-- 隐藏的侧边栏检测勾选框 -->
            <input type="checkbox" name="sidenavcheck" id="sidenavcheck">

            <!-- 导航栏顶部最左侧Logo,点击后返回主页 -->
            <a href="/" class="logo">
                <img src="/favicon.svg" / alt="无限折腾">
            </a>

            <!-- 导航选项 -->
            <div class="navoption">
                <a href="/">回到首页</a>
                <a href="/">服务列表</a>
                <a href="/blogs/">个人博客</a>
                <a href="/">友情链接</a>
            </div>
        </nav>
        <nav class="navright">
            
        </nav>

        
        
    </header>

    <Fonts />

    <style>
        /* 设置顶部导航栏参数 */
        header {
            /* 顶部导航栏左上角对齐 */
            top: 0;
            left: 0;
            /* 顶部导航栏宽高 */
            width: 100%;
            height: 70px;
            /* 去除间隔 */
            padding: 0;
            margin: 0;
            /* 导航栏显示方式 */
            position: fixed;
            display: flex;
            /* 顶部导航栏对齐方式 */
            justify-content: space-between;  /* 水平 */
            align-items: center;    /* 垂直 */
            /* 顶部导航栏背景颜色 */
            background: rgba(1, 4, 9, 0.5);
        }

        /* logo，导航设置 */
        /* logo参数设置 */
        .logo {
            /* 间隔 */
            margin-left: 24px;
            margin-right: 24px;
        }
        /* logo图片参数 */
        .logo img {
            /*logo宽高 */
            width: 32px;
            height: 32px;

        }
        .navleft {
            /* 显示方式 */
            display: flex;
            /* 顶部导航栏对齐方式 */
            justify-content: flex-start;  /* 水平 */
            align-items: center;    /* 垂直 */
        }
        /* 侧边栏检测勾选框 */
        .navleft input {
            /* 显示方式 */
            display: none;
        }
        /* 导航选项 */
        .navoption {
            /* 顶部导航栏对齐方式 */
            justify-content: flex-start;  /* 水平 */
            align-items: center;    /* 垂直 */
            /* 文字装饰 */
            text-decoration: none;
        }
        /* 导航选项内容 */
        .navoption a {
            /* 文字装饰 */
            text-decoration: none;
            /* 间隔 */
            margin-right: 24px;
            /* 过渡 */
            transition: 300ms;
        }
        .navoption a:hover {
            color: rgb(194, 195, 197);
        }

    </style>
</body>